/*------------------------------------------------*/
/*	Skin: Dark Brown
/*------------------------------------------------*/
/* general */
a {
  color: #8c6969;
}
a:hover, a:focus {
  color: #694f4f;
}

.top-bar {
  background-color: #512222;
}
.top-bar .top-bar-right .btn-link {
  color: #c77878;
}
.top-bar .top-bar-right .btn-link:hover {
  color: #fff;
}
.top-bar .notifications .count {
  border-color: #512222;
}
.top-bar .searchbox input[type="search"] {
  background-color: #341616;
  border-color: #2d1313;
}
.top-bar .searchbox .btn {
  background-color: #632a2a;
  border-color: #2d1313;
}
.top-bar .searchbox .btn .fa {
  color: #2d1313;
}
.top-bar .searchbox .btn:hover {
  border-color: #873939;
}
.top-bar .searchbox .btn:hover .fa {
  color: #090404;
}

/* widget */
.widget {
  border-color: #873939;
}
.widget .widget-header {
  background-color: #512222;
  border-bottom-color: #3f1a1a;
  color: #fff;
}
.widget .widget-header em {
  color: #fff;
}
.widget .widget-header .btn-help {
  color: #994040;
}
.widget .widget-header .widget-header-toolbar {
  border-left-color: #461d1d;
}
.widget .widget-header .widget-header-toolbar .control-title {
  color: #fff;
}
.widget .widget-header .btn-group > a {
  color: #fff;
}
.widget .widget-header .btn-group > a:hover, .widget .widget-header .btn-group > a:focus {
  color: #d1b3b3;
}

/* main content */
.main-header h2 {
  color: #341616;
  border-right-color: #873939;
}
.main-header em {
  color: #5c2727;
}

/* footer */
.footer {
  background-color: #512222;
}
