/*------------------------------------------------*/
/*	Skin: Orange
/*------------------------------------------------*/
/* general */
a {
  color: #ffad4d;
}
a:hover, a:focus {
  color: #ff9d29;
}

.top-bar {
  background-color: #ee9109;
}
.top-bar .top-bar-right .btn-link {
  color: #fde7c6;
}
.top-bar .top-bar-right .btn-link:hover {
  color: #fff;
}
.top-bar .notifications .count {
  border-color: #ee9109;
}
.top-bar .searchbox input[type="search"] {
  background-color: #a46406;
  border-color: #a46406;
}
.top-bar .searchbox .btn {
  background-color: #d58208;
  border-color: #a46406;
}
.top-bar .searchbox .btn .fa {
  color: #a46406;
}
.top-bar .searchbox .btn:hover {
  border-color: #a46406;
}
.top-bar .searchbox .btn:hover .fa {
  color: #8c5505;
}

/* widget */
.widget {
  border-color: #fac77c;
}
.widget .widget-header {
  background-color: #ee9109;
  border-bottom-color: #d58208;
  color: #fff;
}
.widget .widget-header em {
  color: #fff;
}
.widget .widget-header .btn-help {
  color: #f9bd64;
}
.widget .widget-header .widget-header-toolbar {
  border-left-color: #df8808;
}
.widget .widget-header .widget-header-toolbar .control-title {
  color: #fff;
}
.widget .widget-header .btn-group > a {
  color: #fff;
}
.widget .widget-header .btn-group > a:hover, .widget .widget-header .btn-group > a:focus {
  color: #ffe4c5;
}

/* main content */
.main-header h2 {
  color: #ee9109;
  border-right-color: #f8b24b;
}
.main-header em {
  color: #f7a733;
}

/* footer */
.footer {
  background-color: #ee9109;
}
